<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- API Server URL, required -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox site use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Environment.ApiServerUrl" value="https://api.ebay.com/wsapi"/>
	<add key="Environment.EPSServerURL" value="https://api.ebay.com/ws/api.dll"/>
	<!-- User token for API server access, required -->
    <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**8DLEXg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AGl4SlCJKCpgmdj6x9nY+seQ**PUsGAA**AAMAAA**KModPg/l/iHFPeO6GdKs+c9M+JrBcPkb89OPO0njqswgep57jowoOpIhJxMdibP/H9LJdR/O0vX32AOxwUeWnfa1KqOLtmWVQd08m/l1TdegzXcG5XVgio4YNplGSGwiOlzH4/y4A6zx7xSY/LdgA9JjsiQBLPuVxSpsIx0AsjF7P6aQNzHYszzQiPgx8cVNQb5LE7t9BSE2HV1XQlBd5r9DV/WTE1d+wmxL7fJYaPp5KhGkMRh4Le8QMbK2NgGsslVQ+z0oeHReS+2bJ3MqW0DJLpv7DVuY44il2oTcrKCeAO482RUxd8PIJ2ZXjsCPhiuu5eoQMlmPo9eR/yA8ysAAc1e31oQ1wJqAGiEhpYCeWA+8iWoKWqRlb4NuC1bq4EiDDf6rfnx456YYwJXU+LS+j4Bc7QfaIVkm0WkP6Dtz/bz7QGRvAv5gq725JtHsTcnwiEJeGHB5AQrNAOF2ScW7neDl7MS9ZAhKTniAPbA+6LeqEAwcldGiXdsL+upQ2wEeOlJpCfd1plJQpx6hIPuWgVPFl8Duj/v64f7yC67MWrhPGGYuxcJBPIBnONyO4dEuv55QjnN2FLUkyHbrjkQF5gntFv0beFdcuqppYc9m361RXmAQOlvm3/EzT8aY+sYmTiMIHPokppjuX6mVGoHDH2L0JPikHpbpXgOHECNcIaY6aJ1dCSqAsT/aGgPZaeRBsC8sMAF/GdX7mLxqRMNExhYUrYyNFao5allJJcMfB7GFilLZCIZA/HlELLpA"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
