<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- API Server URL, required -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox site use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Environment.ApiServerUrl" value="https://api.ebay.com/ws/api.dll"/>
    <add key="Environment.EPSServerURL" value="https://api.ebay.com/ws/api.dll"/>
    <!-- User token for API server access, required -->
    <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**BQBzWw**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wJnY+oC5iFog6dj6x9nY+seQ**AgAAAA**AAMAAA**b/HeoEHR/sGNJ8msbDQW7l1OQeeBs67klb1xSWm7u/CnnOsVhRmwWui6egoFWvnfctncrT1rynmwHDsQEPulyVPV4ASdO85DHJ+AZdmzBrJvyug39eXDFoRrFZQDWRUBASYXDsqxDc/fXSDVMW3wNOIRyrhCdx4Z5jiwddNs+pYNXgCrk6beVQKpDL+Zrr1QkSu6HJ3ZDdF1e93npip/xqv9IxsVqLKEms5pF5G2vvQ9pO/xd61ex0aHl/hkuNr33t6BoVQ2m8Q40epxo5Y4mjagI3W/a8/0modTM9A5Uk5IVkfiAd26pI/Fe4xKrSGgQ+NWRgRJf0/Bp5LG3+yAdOlHI7dixTrFjTBmK7R8rW6nflGrw8F5DxKCwUTokEJNJoZ6RTACfAFuxI5dtuWpjnD0OHJ+IH3Jk6leHIM+PbFIWjsNNVnzhBEfIHvu/Ao9XvMgBW/JaQQ+Ec7TfKGFU8kBwKXfNpphQIk7OI9X8qpIdlUoB1vyD39WEScF2hGZG9XNvSjlq2w3KNrJl2v2+SxhLxEHXStsUvMLBb3yWGll0MoPBtXwTuWCZ8srKeNUZX6EyAksxtYJgZGDFjqnZ7hLeQ+IkzMHhhhoZ0MB2NNMaHP+jY+T1LnakzmXX17fHlx/k7Av5t179hrFqH9ILyQ/vVu/4nBSLfgeh7MB2AOqet2mgLUB5QMp1zQ9EnlF/OH5y5SkRkB45zmBxB0EvQOXJbPKy5j1q49X+5beyMpqTnSM/ccQ5PjOxW55LExc"/>
  </appSettings>
</configuration>
